/* table{
    border-color:rgb(43, 70, 226);
    background-color: rgb(27, 87, 87);
    color:antiquewhite;
}

table a{
    text-decoration: none;
    color:rgb(236, 15, 15);
    font-style:italic;
} */

:root{
    --links-font: italic;
    --background-color: rgb(27, 87, 87);
    --links-color:rgb(236, 15, 15);
    --border-color:rgb(43, 70, 226);
}


table{
    border-color: var(--border-color);
    background-color: var(--background-color);
    color:antiquewhite;
}

table a{
    font-style: var(--links-font);
    color: var(--links-color);
}