body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;   
    overflow: hidden; 
}

.output {
    background-color: #292932;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    color:white;
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
}

.resultado {
    font-size: 1.5em;
    text-align: right;
}

.operadores{
    background-color: #878799;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.buttons {
    display: flex;
    flex-direction: column-reverse;
}

.equal{
    background-color: rgb(237, 146, 146);
    grid-row: span 5;
}

.numbers{
    background-color: rgb(233, 228, 228);
}

.numbers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.boton {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}







